@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(110deg, rgba(215,215,190,1) 0%, rgba(245,245,230,1) 40%, rgba(198,198,180,1) 100%);
    font-family: "Crimson Pro", sans-serif;
    color: rgb(26, 27, 20);
    min-height: 100vh;
    position: relative;  
}

.text-shadow {
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
}

.main-container {
    min-height: calc(100vh - 105px);
    padding-bottom: 60px;
    width: 70%;
    margin: auto;
}

/* -- Cover image of the books into books.html -- */
#book-cover-img img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 400px;
}

/* -- Cover image of the books into book_page.html -- */
#book-img-page img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    max-height: 500px;
}

/* -- Navbar -- */
a.brand-logo {
    padding-left: 15px;
}

.nav-wrapper, .sidenav {
    background-color: rgb(218,218,190);
}

.nav-wrapper a, 
.sidenav li a {
    color: rgb(17, 18, 19);
    font-weight: 600;
    text-transform: uppercase;
}

/* -- Cards -- */
.card-panel, .card-content, .card {
    background-color: rgb(245, 245, 238);
}

#card-book {
    padding: 30px;
    margin-top: 30px;
}

/* -- Book and Reviews pages -- */
#review-p {
    margin-bottom: 30px;
    font-size: medium;
}

.no-padding {
    padding: 0px;
}

a:link, #title-link {
    text-decoration: none;
    color: rgb(26, 27, 20);
}

span {
    font-size: large;
}

/* -- Modal window -- */
.modal-footer {
    height: 80px !important;
    padding: 10px 20px !important;
}

.modal-icon {
    font-size: 80px;
}

/* -- Flash messages -- */
.flash-message {
    color: white;    
    font-weight: 600;
    width: calc(100% - 30px);    
    background-color: rgb(40, 75, 90);
}    

.flash-message h4 {
    line-height: 1.9;    
}

/* -- Buttons -- */
.btn-theme {
    border-radius: 8px;
}

.btn-primary-color {
    background-color: rgb(40, 75, 90);
}

.btn-action-options {
    top: 320px;
}

/* -- Search-bar -- */
#search-bar {    
    height: 74px;
    margin: 0px 10px;  
}

#clear-search-button {
    margin-right: 1vw;
}

/* -- Footer -- */
.footer-container {
    height: 43px;
    background-color: rgb(40, 75, 90);
    position: absolute;
    bottom: 0;
    width: 100%;   
}

.footer-info p {
    
    color: white;
}

/* -- Media queries -- */
@media screen and (max-width: 992px) {
    a.brand-logo {
        padding-left: 0px;
        font-size: 25px;        
    }

    .main-container {
    min-height: calc(100vh - 93px);
    width: 80%;
    }
}

@media screen and (max-width: 600px) {
    a.brand-logo {        
        font-size: 20px;
    }

    #clear-search-button {
    margin-right: 0.2vw;
    }

    #search-bar {
        margin: 0px 0px;
    }

    #card-book {
    padding: 25px 5px 30px 5px;
    }

    .main-container {
    min-height: calc(100vh - 93px);
    width: 90%;
    }
}
