@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, rgba(208,210,203,1) 0%, rgba(240,245,246,1) 30%, rgba(201,208,210,1) 100%);
    font-family: "Crimson Pro", sans-serif;
    color: rgb(17, 18, 19);
}

#book-cover-img img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 460px;
}

/* -- Navbar -- */
a.brand-logo {
    padding-left: 15px;
}

.nav-wrapper, .sidenav {
    background-color: #D0D7DD;    
}

.nav-wrapper a, 
.sidenav li a {
    color: rgb(17, 18, 19);
    font-weight: 600;
    text-transform: uppercase;
}


/* -- VVVVV -- */