{% extends "base.html" %}
{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}" />
{% endblock %}
{% block content %}

    <div id="error-container">    
        <div class="center-align">
            <i class="material-icons warning-icon">warning_amber</i>
            <h1>Oops, something's gone wrong!</h1>    
            <h2>404 - Page not found</h2>
            <p class="error-text">The page doesn't exist or some other error occured</p>
            <a class="waves-effect waves-light btn-large btn-theme btn-primary-color white-text" href="{{ url_for('get_books') }}">Go
                To Book Reviews</a>
        </div>
    </div>    

{% endblock %}