<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Community of readers, share book's reviews and recommendations" />
    <meta name="keywords" content="book review, book recommendation, discover book, books" />
    <meta name="author" content="Nicola Lampis" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png' ) }}"/>
    <!-- CDN Materialize, Materialize-Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    {% block styles %}
    {% endblock %}
    <title>Read District</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('get_books') }}" class="brand-logo"><i class="material-icons hide-on-small-and-down">auto_stories</i>Read District</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_books') }}">Books</a></li>
                        {% if session.user %}
                        <li><a href="{{ url_for('add_review') }}">Add Review</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Navbar mobile collapse -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_books') }}">Books</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_review') }}">Add Review</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flash-message center-align">
                        <h4 class="center-align"> {{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- Main section inject content -->  
    <main class="container main-conteiner">        
        {% block content %}    
        {% endblock %}
    </main>

    <footer class="footer-container">    
        
            <div class="footer-info center-align">
                <p>© 2021 Copyright Nicola Lampis</p>                
            </div>
        
    </footer>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Materialize - compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}    
</body>
</html>