{% extends "base.html" %}
{% block content %}

    <div class="container z-depth-3">
        <div class="row">
            
            <div class="col s12 m4">
                
                <div class="card-image" id="book-cover-img">                    
                    <img src="{{ review.cover_img }}" alt="Reviewed book cover image">
                    
                </div>
            </div>
            <div class="col s12 m8">
                    <div class="book-info">
                        <i>Title: </i><h4>{{ review.title }}</h4>
                        <i>Author: </i><h5>{{ review.author }}</h5>                        
                        <p><i>Number of Pages: </i> {{ review.n_of_pages }}</p>
                        <p><i>Genre: </i>{{ review.genre_name }}</p>
                    </div>  
            </div>  
        </div>

        <div class="row">
            <div class="col s12">
                <p>{{ review.text_review }}</p>
            </div> 
        </div>  

        <div class="row">  
            <div class="col s12">  
                        {% if session.user|lower == review.created_by|lower %}
                            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small blue">Edit</a>
                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small red">Delete</a>                        
                        {% endif %}
                        <a href="{{ url_for('get_books') }}" class="btn-small blue">Back</a>
            </div>        
                
        </div>
            
    </div>
    
    

{% endblock %}
